@model Instructor

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/Images/@Model.Image" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Department.Name</p>
        <p class="card-text">@Model.Course.Name</p>
        <p class="card-text">@Model.Salary</p>
        <p class="card-text">@Model.Address</p>
    </div>
    <div class="card-body">
        <a href="/Instructor/GetAllInstructors" class="card-link">Back To All Instructors</a>
    </div>
</div>